$white: #ffffff;
$white-rgb: hexToRGB($white);
$black: #000000;
$black-rgb: hexToRGB($black);

$background-primary-light: #c4c4c4;
$background-primary-main: #2d2d2d;
$background-primary-dark: #272727;

$background-secondary-light: #eff2ff;
$background-secondary-main: #dfe5f8;
$background-secondary-dark: #cad4f5;

/* status colors */

$success-light: #c3f5cb;
$success-main: #22e164;
$success-dark: #00b52a;

$error-light: #f0989c;
$error-main: #e83039;
$error-dark: #ba0b20;

/* brand colors */

$primary-light: #aca0e6;
$primary-main: #433cc7;
$primary-dark: #3034be;

/* typography colors */

$text-primary-light: $white;
$text-primary-main: $white;
$text-primary-dark: $white;

$text-secondary-light: #999999;
$text-secondary-main: #5b5b5b;
$text-secondary-dark: #1c1c1c;


/* border colors */

$border-primary-light: #6e6e6e;
$border-primary-main: #2c2c2c;

/* App colors */
$app-bg: #1F1F1F;
